<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kiosk Query & View</title>
        <!--suppress HtmlUnknownTarget -->
        <link rel="stylesheet" href="<%- VITE_KIOSK_BASE_URL %>static/styles.css" />
        <link rel="stylesheet" href="<%- VITE_KIOSK_BASE_URL %>static/purecss/shoelace/light.css" />
        <link rel="stylesheet" href="<%- VITE_KIOSK_BASE_URL %>static/kioskshoelacetheme.css" />


        <style>
            header {
                background: lightgrey;
                padding: 0.5em;
                margin-bottom: 2em;
            }
            body {
                height: 100vh
            }
        </style>
    </head>
    <body>
    </body>
    <script type="module" src="inbrowsertests/inbrowsertests.ts"></script>
    <script>
        function apiReady(api) {
            console.log("api is ready:", api)
            runInBrowserTests(api)
        }
        // function apiReady(api) {
        //     console.log("api is ready:", api)
        //     let app = document.querySelector("#kiosk-app");
        //     if (app) {
        //         app.apiContext = api;
        //         console.log(app.apiContext);
        //     } else {
        //         console.log("there is no app.");
        //     }
        // }
    </script>
    <script type="module" src="kioskdevstarter.ts"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="http://localhost:5000/static/scripts/kiosklastscript.js"></script>
</html>
